@import "tailwindcss";
 


:root {
  --background: #ffcb04;
  --foreground: #171717;
  --primary: #ffcb04;
  --monsterat:       :
  --secondary:  #007f3d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans:  ;
  --font-mono: var(--);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffcb04;
    --foreground:  #007f3d;
    --text-white :#ffffff ;
    --font-sans: var(--font-montserrat);
 
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
